<!-- <div class="title">
  <h3>Testimonials</h3>
</div>
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/img_1.jpg" alt="First slide">
    </div>
    <div class="carousel-caption">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
      <p>John Smith</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/img_2.jpg" alt="Second slide">
    </div>
    <div class="carousel-caption">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
      <p>John Smith</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/img_3.jpg" alt="Third slide">
    </div>
    <div class="carousel-caption">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
      <p>John Smith</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/img_4.jpg" alt="Third slide">
    </div>
    <div class="carousel-caption">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
      <img src="../../../assets/images/person_1.jpg">
      <p>John Smith</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel> -->