<div class="contact" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact">
                <h1 class="contact-header">Contact Us</h1>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 contact">
                <form class="form">
                    <div class="form-row">
                        <div class="form-row-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <label for="inputFirstName4" class="form-row-group-title">First Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-row-group col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <label for="inputLastName4" class="form-row-group-title">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row-group">
                        <label for="inputEmail4" class="form-row-group-title">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-row-group">
                        <label for="inputText4" class="form-row-group-title">Subject</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-row-group">
                        <label for="exampleFormControlTextarea1" class="form-row-group-title">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                </form>
                <button type="button" class="btn btn-success form-button">Success</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact">
                <h5 class="contact-title">Address</h5>
                <p class="contact-text">203 Fake St. Mountain View, San Francisco, California, USA</p>
                <h5 class="contact-title">Phone</h5>
                <a href="#" class="contact-link">+1 232 3235 324</a>
                <h5 class="contact-title">Email Address</h5>
                <a href="#" class="contact-link">youremail@domain.com</a>
            </div>
        </div>
    </div>
</div> 
