<div class="container" id="our-services">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 services">
            <h1 class="services-headerTitle">Our Services</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 services">
            <div class="services-icon">
                <span class="material-icons services-icon-material">laptop</span>
            </div>
            <div class="service-content">
                <h3 class="services-content-title">Web Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                    vitae eligendi at.
                </p>
                <a href="#" class="services-link">Learn more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 services">
            <div class="services-icon">
                <span class="material-icons services-icon-material">shopping_cart</span>
            </div>
            <div class="service-content">
                <h3 class="services-content-title">eCommerce</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                    vitae eligendi at.
                </p>
                <a href="#" class="services-link">Learn more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 services">
            <div class="services-icon">
                <span class="material-icons services-icon-material">question_answer</span>
            </div>
            <div class="service-content">
                <h3 class="services-content-title">Web Applications</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                    vitae eligendi at.
                </p>
                <a href="#" class="services-link">Learn more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 services">
            <div class="services-icon">
                <span class="material-icons services-icon-material">format_paint</span>
            </div>
            <div class="service-content">
                <h3 class="services-content-title">Branding</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                    vitae eligendi at.
                </p>
                <a href="#" class="services-link">Learn more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 services">
            <div class="services-icon">
                <span class="material-icons services-icon-material">extension</span>
            </div>
            <div class="service-content">
                <h3 class="services-content-title">Copy Writing</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                    vitae eligendi at.
                </p>
                <a href="#" class="services-link">Learn more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 services">
            <div class="services-icon">
                <span class="material-icons services-icon-material">phonelink</span>
            </div>
            <div class="service-content">
                <h3 class="services-content-title">Mobile Applications</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                    vitae eligendi at.
                </p>
                <a href="#" class="services-link">Learn more</a>
            </div>
        </div>
    </div>
</div>