<div class="container" id="about-us">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aboutUs">
            <h1 class="aboutUs-title">About Us</h1>
            <p class="aboutUs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet incidunt magnam
                corrupti, odit eos harum quaerat nostrum voluptatibus aspernatur eligendi accusantium cum, impedit
                blanditiis
                voluptate commodi doloribus, nemo dignissimos recusandae.
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 aboutTopics">
                    <div class="aboutTopics-icon">
                        <span class="material-icons aboutTopics-icon-material">phonelink</span>
                    </div>
                    <div class="aboutTopics-content">
                        <h3 class="aboutTopics-content-title">Web & Mobile Specialties</h3>
                        <p class="aboutTopics-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis quis
                            consect.
                        </p>
                        <a href="#" class="aboutTopics-content-link">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 aboutTopics">
                    <div class="aboutTopics-icon">
                        <span class="material-icons aboutTopics-icon-material">extension</span>
                    </div>
                    <div class="aboutTopics-content">
                        <h3 class="aboutTopics-content-title">Intuitive Thinkers</h3>
                        <p class="aboutTopics-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis quis
                            consect.
                        </p>
                        <a href="#" class="aboutTopics-content-link">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aboutUs">
            <img src="../../../assets/images/about_1.jpg" class="img-fluid aboutUs-img">
        </div>
    </div>
</div>