<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 intro">
            <div class="intro-innovate">
                <div class="intro-innovate-number">01.</div>
                <h2 class="intro-innovate-title">Innovate</h2>
                <p class="intro-innovate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium
                    eos nulla qui commodi
                    consectetur beatae fugiat. Veniam iste rerum perferendis.
                </p>
                <ul class="intro-innovate-list">
                    <li class="intro-innovate-list-item">Customer Experience</li>
                    <li class="intro-innovate-list-item">Product Management</li>
                    <li class="intro-innovate-list-item">Proof of Concept</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 intro">
            <div class="intro-create">
                <div class="intro-create-number">02.</div>
                <h2 class="intro-create-title">Create</h2>
                <p class="intro-create-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos
                    nulla qui commodi
                    consectetur beatae fugiat. Veniam iste rerum perferendis.
                </p>
                <ul class="intro-create-list">
                    <li class="intro-create-list-item">Web Design</li>
                    <li class="intro-create-list-item">Branding</li>
                    <li class="intro-create-list-item">Web & App Development</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 intro">
            <div class="intro-scale">
                <div class="intro-scale-number">03.</div>
                <h2 class="intro-scale-title">Scale</h2>
                <p class="intro-scale-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos
                    nulla qui commodi
                    consectetur beatae fugiat. Veniam iste rerum perferendis.
                </p>
                <ul class="intro-scale-list">
                    <li class="intro-scale-list-item">Social Media</li>
                    <li class="intro-scale-list-item">Paid Campaigns</li>
                    <li class="intro-scale-list-item">Marketing & SEO</li>
                </ul>
            </div>
        </div>
    </div>
</div>